.App {
  background-color: rgb(240, 240, 240);
  
}

tbody tr td{
  border-bottom: 2px solid #e2e2e2;

}

table {
  width: 100%;
}

th,
td {
  width: 570px;
}

thead>tr {
  position: relative;
  display: block;
}

tbody {
  display: block;
  height: 500px;
  overflow: auto;
}